body {
	/* 60px to make the container go all the way to the bottom of the topbar */
	padding-top: 60px;
}

.item.row {
	margin-bottom: 25px;
}

.item .thumbnail .caption {
	font-size: 11px;
}

#modal {
	width: 750px;
	margin-left: -375px;
}
